/* ---------- Markdown 表格加边框、美化 ---------- */
table {
    border-collapse: collapse;
    margin: 1rem 0;
    width: 100%;
}

table thead th {
    background-color: #f5f5f5;
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
}

table tr:nth-child(even) {
    background-color: #fafafa;
}